#dbsummary{
    border-collapse: collapse;
    width: 100%;
}

#dbsummary th, #dbsummary td{
    border: 1px solid #ddd;
    padding: 8px;
}

#dbsummary tr:nth-child(even){background-color: #f2f2f2;}

#dbsummary th {
    padding: 9px;
    text-align: center;
    background-color: lightblue;
    color: white;
}

#dbsummary .table-option{
    width: 10px;
}

#dbsummary #idcol{
    text-align: center;
}