/* ========================= geral ========================= */
@font-face {
      font-family: 'Aldrich';
      font-style: normal;
      font-weight: 400;
      src: url("../fonts/Aldrich-Regular.woff2") format('woff2');
}

@font-face {
      font-family: 'Fugaz One';
      font-style: normal;
      font-weight: 400;
      src:  url("../fonts/FugazOne-Regular.woff2") format('woff2');
}

@font-face {
      font-family: 'Quantico';
      font-style: normal;
      font-weight: 400;
      src: url("../fonts/Quantico-Regular.woff2") format('woff2');
}


.wrapper{
      display: flex;
}

@media screen and (max-width: 767px) {
      .wrapper{
            display: inherit;
      }

      #indexSidebar.sidebar {
            height: auto;
            padding: 15px;
      }

      #adminSidebar.sidebar {
            display: none;
      }
}
/* ========================= end geral ========================= */

/* ========================= index ========================= */
#indexNav.navbar {
      margin-bottom: 0;
      border-radius: 0;
}

#indexNav.navbar-inverse .navbar-brand:hover,
#indexNav.navbar-inverse .navbar-brand:focus {
      background-color: transparent;
      color: #999999;
}

#indexNav .navbar-brand {
      font-family: 'Aldrich',sans-serif;
      font-size: 32px;
}

#indexSidebar.sidebar {
      padding-top: 20px;
      background-color: #f1f1f1;
}

#indexSidebar.sidebar > .dropdown{
      text-align: left;
      padding-bottom: 0px;
}

#indexSidebar.sidebar > .search{
      padding-top: 30px;
      text-align: left;
      font-family: 'Quantico',sans-serif;
      font-size: 24px;
}

#indexSidebar.sidebar > .tags{
      padding-left: 20px;
      text-align: left;
      font-size: 16px;
      font-weight: lighter;
}

#indexContent > .exercise-card{
      margin: 5px 10px;
      width: 250px;
      /*min-height: 310px;*/
      vertical-align: top;
      display: inline-block;
      padding-left: 0;
      border-radius: 10px;

      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
}

#indexContent > .exercise-card:hover {
      box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.3);
}

#indexContent > .exercise-card img{
      border-radius: 5px 5px 0 0;
      width:100%;
}

#indexContent > .exercise-card > .card-container{
      padding: 2px 16px;
      text-align: left;
}

#indexContent > .exercise-card > .card-container > h4{
	font-weight : bold;
}

.overflow {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

#indexContent > .pagination{
      display: table;
      margin: 20px auto;
}


footer {
      background-color: #555;
      color: white;
      padding: 15px;
}
/* ========================= end index ========================= */

/* ========================= admin ========================= */
#adminNav.navbar,
#adminSidebar.sidebar{
      background-color: #c1c1c1;
}

#adminNav.navbar,
#adminNav.navbar.navbar-inverse > .container-fluid > .navbar-header > .navbar-toggle,
#adminSidebar.sidebar{
      border: 1px solid #919191;
}

#adminNav.navbar.navbar-inverse .navbar-collapse{
      border-color: #919191;
}

#adminNav.navbar.navbar-inverse .navbar-brand{
      color: #333;
      font-size: 32px;
}

#adminNav.navbar .navbar-header > a,
#adminSidebar.sidebar .sidebar-header{
      font-family: 'Aldrich',sans-serif;
}

#adminNav.navbar.navbar-inverse .navbar-nav>li>a,
#adminSidebar.sidebar > ul > li > a{
      color: #ffffff;
      font-weight: bold;
}

#adminNav.navbar.navbar-inverse .navbar-nav>li:not(.active)>a:hover,
#adminSidebar.sidebar ul > li:not(.active) > a:hover{
      background-color: #242424;
}

#adminNav.navbar.navbar-inverse .navbar-nav>.active>a,
#adminNav.navbar.navbar-inverse .navbar-nav>.active>a:hover,
#adminSidebar.sidebar ul > li.active > a{
      background: #ff9900;
}

#adminNav.navbar ul.nav.navbar-nav > li > a {
      color: #ffffff;
}

#adminSidebar.sidebar {
      margin-right: 25px;
      padding: 0;
      height: 100vh;
}

#adminSidebar.sidebar > .sidebar-header{
      padding: 10px;
}

#adminSidebar.sidebar ul{
      margin: 15px 0;
      padding: 0;
      list-style: none;
      background: #919191;
}

#adminSidebar.sidebar > ul > li > a{
      padding: 5px 10px;
      display: block;
      text-decoration: none;
}

/* ========================= end admin ========================= */
